{% extends 'base.html' %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="products-layout">
    <div class="products-sidebar">
        {% include 'products/includes/sidebar.html' %}
    </div>
    
    <div class="products-content">
        {% block products_content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %} 