{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/clients/client_form.css' %}">
{% endblock %}

{% block content %}
    <h2>{% if object %}Update Client{% else %}Register New Client{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% if form.name.errors %}
                <div class="alert alert-danger">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="alert alert-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="alert alert-danger">{{ form.phone.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.address.label_tag }}
            {{ form.address }}
            {% if form.address.errors %}
                <div class="alert alert-danger">{{ form.address.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Create{% endif %}</button>
        <a href="{% url 'clients:client_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}